{% extends "tasks/base.html" %}
{% block content %}
  <div class="container mt-4">
    <h2 class="text-center mb-4">Log In</h2>
    
    {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Your username and password didn't match. Please try again.
      </div>
    {% endif %}
    
    <div class="card shadow-lg border-primary">
      <div class="card-body">
        <form method="post" action="{% url 'users:login' %}">
          {% csrf_token %}
          
          <div class="form-group">
            {{ form.as_p }}
          </div>

          <input type="hidden" name="next" value="{% url 'tasks:index' %}"/>
          
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Log in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
