{% extends "tasks/base.html" %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center" style="color: #003366;">Log In</h2>
  
  <div class="mt-4">
    {% if form.errors %}
      <div class="alert alert-danger text-center">
        Your username and password didn't match. Please try again.
      </div>
    {% endif %}
    
    <form method="post" action="{% url 'users:login' %}" class="mx-auto" style="max-width: 400px;">
      {% csrf_token %}
      
      <div class="form-group text-center">
		<label for="{{ form.username.id_for_label }}" class="font-weight-bold">Username</label>
		{{ form.username }}
		{% if form.username.errors %}
		  <div class="text-danger">
			{{ form.username.errors }}
		  </div>
		{% endif %}
	</div>
	
	<div class="form-group text-center">
		<label for="{{ form.password.id_for_label }}" class="font-weight-bold">Password</label>
		{{ form.password }}
		{% if form.password.errors %}
		  <div class="text-danger">
			{{ form.password.errors }}
		  </div>
		{% endif %}
	</div>
      
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block">Log In</button>
      </div>
      
      <input type="hidden" name="next" value="{% url 'tasks:index' %}"/>
    </form>
  </div>
</div>
{% endblock content %}
